.header {
  height: 70px;
  background-color: gold;
  width: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  height: 95%;
  width: 150px;
  cursor: pointer;
  user-select: none;
}

.link:hover {
  text-decoration: underline;
  color: black;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  height: 95%;
  width: 150px;
  border-bottom: 3px solid black;
  cursor: pointer;
  user-select: none;
}

.active:hover {
  color: black;
}

.activePage {
  margin-left: 50px;
  color: black;
}